<!DOCTYPE html>
<script src="library/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="library/vue-2.6.10/vue.js"></script>
<link href="library/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
<script src="library/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<style>
td#header{
font-size:130%;font-weight:700;

}
table.registerTable{
	position: absolute;
	left: 40%;
	top: 10%;
	height: 200px;
}
div.registerErrorMessageDiv {
	width: 600px;
	margin: 0px auto;
	height: 50px;
	visibility: hidden;
}
</style>
<script>
$(function(){
	new Vue({
	      el: '#div1',
	      data:{
			uri: 'user/register',
	        user:{userName:'', password:'', repeatPassword:''}
	      },
	      methods:{
	          submit:function(){ 
                  if(0==this.user.userName.length){
                      $("span.errorMessage").html("Please Enter Username");
                      $("div.registerErrorMessageDiv").css("visibility","visible");
                      return;
                  }
                  if(0==this.user.password.length){
                      $("span.errorMessage").html("Please Enter Password");
                      $("div.registerErrorMessageDiv").css("visibility","visible");
                      return;
                  }
                  if(0==this.user.repeatPassword.length){
                      $("span.errorMessage").html("Please Confirm Password");
                      $("div.registerErrorMessageDiv").css("visibility","visible");
                      return;
                  }
                  if(this.user.password !=this.user.repeatPassword){
                      $("span.errorMessage").html("Confirm Password not equal");
                      $("div.registerErrorMessageDiv").css("visibility","visible");
                      return;
                  }
	        	  axios.post(this.uri,this.user).then(function(response) {
                      var result = response.data;
                      if(result.code==0){
                          location.href="login.html";
                      }
                      else{
                          $("span.errorMessage").html(result.message);
                          $("div.registerErrorMessageDiv").css("visibility","visible");
                      }
                  });
	          }
	      }
	    })
	new Vue({
	      el: '#div2',
	      data: {
	          clickNumber:0
	      },
	      methods:{
	          count: function(){
	              this.clickNumber++;
	          }
	      }
	    })
})
</script>
<script>
function checkPassword(){
	if (document.getElementById("password").value != document.getElementById("repassword").value)
		document.getElementById("passwordnotequal").innerHTML="Confirm Password not equal";
}
</script>
<html>

<body>
<div id="div1">
        <div class="registerErrorMessageDiv">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <span class="errorMessage"></span>
            </div>
        </div>
	<table class="registerTable" align="center">
	    <tr>
	        <td height = "50px" id = "header" align="left">Create Account</td>
	    </tr>
	    <tr>
	        <td align="left">Username</td>
	    </tr>
	    <tr>
	        <td height = "50px"><input class="form-control" v-model="user.userName"> </td>
	    </tr>
	    <tr>
	        <td align="left">Password</td>
	    </tr>
	    <tr>
	        <td height = "50px" class = "input"><input id ="password" class="form-control" v-model="user.password"  type="password"  placeholder="At least 6 characters" > </td>
	    </tr>
	    <tr>
	        <td align="left">Re-enter password</td>
	    </tr>
	    <tr>
	        <td height = "50px" ><input id ="repassword" class="form-control" onchange="checkPassword()" v-model="user.repeatPassword" type="password"> </td>
	        <td class="text-danger" id="passwordnotequal"></td>
	    </tr>     
	    <tr>
	        <td colspan="2" height = "50px">
	            <a ><button @click="submit" class="btn btn-primary">Create Your Account</button></a>
	        </td>
	    </tr>
	</table>
</div> 


   
</body>
</html>